body{
    margin: auto;
}
.stor-container 
{
width: 100%;

}
.topmenu-1
{
    justify-content: left;
    font-size: 0.8rem;
    padding-right: 0.2rem;
    
    color: #2BAAEC;
}
.topmenu-2 
{
font-size: 0.35rem;
justify-content: left;
margin-right: auto;
font-family: 'Roboto'

}
h1
{
    font-weight: normal;
    color: #626262;
}
.icons 
{
    display: flex;
    color: #2BAAEC;
}
.icons a:hover
{
color:#25E6C8;
}

.topmenu
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    align-items:baseline;
    font-size: 0.8rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    padding-left: 13rem;
    padding-right: 13rem;
}
.icon-1 a
{
    padding-right: 1.2rem;
    color: #2BAAEC;
}
.icon-2 a
{
    padding-right: 1.2rem;
    color: #2BAAEC;
    
}
.icon-3 a
{
    padding-right: 1.2rem;
    color: #2BAAEC;
}
.icon-4 a
{
    color: #2BAAEC;
}
.streck
{
    border: 0.5px solid #d2d2d2; 
}
.navigering
{
    display: flex;
    flex-direction: row;
    margin: auto;
    padding-right: 13rem;
    padding-left: 13rem;
    justify-content: space-between;
    align-items: center;  
}
.navigering a
{
    text-decoration: none;
    color: #363636;
    font-size: 0.8rem;
}
.logga img
{
  height: 3.5rem;
  margin-top: 1.5rem;  
}
.hem
{
padding-right: 3rem;

}
.om-oss
{
    padding-right: 3rem;   
}
.tjänster
{
    padding-right: 3rem;
}
.alternativ 
{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;   
    font-family: 'roboto';
}

.alternativ a:hover 
{
color: #707070;
}

.mainsection
{
 
   
}
.mainsection img
{ 
    height: 480px;
    width: 100%;  
}

.sektion
{
    position: relative;  
    display: flex;
    justify-content: space-around;
    background-color: #DEDEDE;
    align-items: center;
    height: 500px; 
    width:  100%;
    margin-top: 1.5rem;    
}
.text1 h1
{
    font-size: 2rem;
    font-family: 'Roboto Slab';
    padding-bottom: 3rem;
}
.text1 p
{
    font-family: 'Roboto';   
}
.knapp 
{
background-color: #25E6C8;
border: none;
border-radius: 0.5rem;
padding-left: 2rem;
padding-right: 2rem;
padding-top: 0.7rem;
padding-bottom: 0.7rem;
color: #FFFFFF;
font-family: 'Roboto', sans-serif;
}
.knapp:hover
{
opacity: 5;
background-color: #2BAAEC;
cursor: pointer;


}

