body{
    margin: auto;
}
.stor-container 
{
width: 100%;

}
.topmenu-1
{
    justify-content: left;
    font-size: 0.8rem;
    padding-right: 0.2rem;
    
    color: #2BAAEC;
}
.topmenu-2 
{
font-size: 0.35rem;
justify-content: left;
margin-right: auto;
font-family: 'Roboto'

}
h1
{
    font-weight: normal;
    color: #626262;
}
.icons 
{
    display: flex;
    color: #2BAAEC;
}
.icons a:hover
{
color:#25E6C8;
}

.topmenu
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    align-items:baseline;
    font-size: 0.8rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    margin-left: 13rem;
    margin-right: 13rem;
}
.icon-1 a
{
    padding-right: 1.2rem;
    color: #2BAAEC;
}
.icon-2 a
{
    padding-right: 1.2rem;
    color: #2BAAEC;
    
}
.icon-3 a
{
    padding-right: 1.2rem;
    color: #2BAAEC;
}
.icon-4 a
{
    color: #2BAAEC;
}
.streck
{
    border: 0.5px solid #d2d2d2; 
}
.navigering
{
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-right: 13rem;
    margin-left: 13rem;
    justify-content: space-between;
    align-items: center;  
    margin-bottom: 1.5rem;
}
.navigering a
{
    text-decoration: none;
    color: #363636;
    font-size: 0.8rem;
}
.logga img
{
  height: 3.5rem;
  margin-top: 1.5rem;  
}
.hem
{
padding-right: 3rem;

}
.om-oss
{
    padding-right: 3rem;   
}
.tjänster
{
    padding-right: 3rem;
}
.alternativ 
{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;   
    font-family: 'roboto';
}

.alternativ a:hover 
{
color: #707070;
}

.mainsection img
{ 
    height: 500px;
    margin-left:9rem;
}

.mainsection
{
   
    display:flex;
    flex-direction: row;
    background-color: #DEDEDE;
    justify-content: space-between;
    align-items:center;
    width:  100%;
    padding-top: 1.5rem; 

    
      
}
.text1
{
   padding-right: 20rem;
}
.text1 h1
{
    font-size: 2.5rem;
    font-family: 'Roboto Slab';
    
    font-weight: bold;
    color: #363636;
}
.text1 p
{
    font-family: 'Roboto';   
    padding-bottom: 1rem;
    font-size: small;
    color: #626262;
}
.knapp 
{
background-color: #25E6C8;
border: none;
border-radius: 0.5rem;
padding-left: 2rem;
padding-right: 2rem;
padding-top: 0.7rem;
padding-bottom: 0.7rem;
color: #FFFFFF;
font-family: 'Roboto', sans-serif;
}
.knapp:hover
{
opacity: 5;
background-color: #2BAAEC;
cursor: pointer;
}
.sektion2 span
{
    color: #2BAAEC;
} 
.streck2 hr
{
  width: 510px;
  justify-content: left ;
  margin-top: -0.8em;
  margin-bottom: 1.5em;
  border-top: 1.6px solid #25E6C8; 
  border-bottom: 1.6px solid #25E6C8;
  border-left:#25E6C8;
  border-right:#25E6C8;
  background-color:#25E6C8 ;
}
.sektion2
{
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
    height: 500px; 
    width:  100%;
    margin-top: 1.5rem;
}



.flex1
{
    display: flex;
    flex-direction: column;
    margin-left: 9rem;
}
.bild2 img
{
    height: 500px;
   margin-right: 18rem;
}
.rubrik-sektion2 h1
{
    font-family: 'Roboto slab';
    font-weight: bolder;
    color: #363636;
    font-size: 1.7rem;
}
.p-sektion2 p
{
    font-family: 'Roboto';
    color: #626262;
    font-size: small;
    line-height: 18px;
}
.siffror
{
    display: flex;
    line-height: 25px;
    font-family: 'Roboto Slab';
    color: #363636;
    font-size: 0.8rem;
    font-weight: 650;
}
.siffror span
{
    font-size: 1.7rem;
    font-family: 'Roboto Slab';
    color: #2BAAEC;
    font-weight: bold;
}
.siffror1 p
{
margin-right:3rem;

}
.siffror2 p
{
margin-right:3rem;
}
.över-rubrik 
{
    display: flex;
flex-direction: column;
align-items: center;
background-color: #F7F7F7;
}

.över-rubrik hr
{
width: 300px;
  justify-content: left ;
  margin-top: -0.8em;
  margin-bottom: 1.5em;
  border-top: 1.6px solid #25E6C8; 
  border-bottom: 1.6px solid #25E6C8;
  border-left:#25E6C8;
  border-right:#25E6C8;
  background-color:#25E6C8 ;
}
.över-rubrik h1
{
    font-family: 'Roboto Slab';
    font-weight: bolder;
    color: #363636;
    margin-top: 5rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.box-1, .box-2, .box-3, .box-4, .box-5, .box-6, img
{
  display: flex;
  flex-direction: column;
  height: 40px;   
}
.bild-box-1, .box-1, .bild-box-2, .box-2, .bild-box-3, .box-3, .bild-box-4, .box-4, .bild-box-5, .box-5, .bild-box-6, .box-6
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    height: 290px;
    width: 260px;  
    border-radius: 3%;

}

.bild-box-1, .bild-box-2, .bild-box-3, .bild-box-4, .bild-box-5, .bild-box-6 
{
    border-radius: 50%;
    overflow: hidden;
    font-size: 3rem;
    width: 80px;
    height: 80px;
    background-color: #25E6C8;
}
.box-section
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr;
    
   background-color: #F7F7F7;
   
 
  
}
.box-1, .box-2, .box-3, .box-4, .box-5, .box-6
{

   
  
}






