
.header-background
{
    position: relative;
    top: 0;
    left: 0;
    object-fit: cover; 
    height: 200px;
    
    
  }
  .img-1 
  {
    position: absolute;
    top:0;
    left: 0;
    
    width: 100%;
    height: auto;
   object-position: -27px    -110px  ;
   
   
  }
  .img-2 
  {
    position: absolute;
    top:0;
    left: 0;
    
    width: 100%;
  height: auto;
    object-position:  -27px -110px ; 
    
  }
  .logo
  {
    position: absolute;
    height: 2rem;
    margin: 0.7rem;
     
  }
  .img-screen-1
  {
    position: absolute;
    right:0;
    height: 100px;
    margin-right: 5rem;
    margin-top: 4rem;
    
  }
  .img-screen-2
  {
    position: absolute;
    right:0;
    height: 100px;
    margin-right: 7rem;
    margin-top: 5rem;
    
  }
  .header-background h1
  {
    position: absolute;
    font-size: 0.7rem;
    left: 12%;
    top: 55px;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    opacity: 50%;
  }
  .header-background p
  {
    display: none;

  }
 .header-background >.dropdown
 {
position: absolute;
right: 65px;




 }
.dropdown i
{
  position:absolute;
  color: #ffbb00;
  font-size: 20px;
  
}
.header-background .button-1 button
{
  display: none;
  position: absolute;
  border: 2px solid white;
  background-color: transparent;
  font-size: 10px;
  top: 15px;
  left:34%;
  text-align: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-family: 'Roboto', sans-serif;
  color:white;
  border-radius: 5px;
}






.navigation
{
  
  display:none;
}

.video  
{
  position: absolute;
 
  bottom: 10px;
  margin: 1rem;
  

 
}

.video  i
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border:7px solid #ffbb00;
  background-color: #ffbb00;
  border-radius: 50%;
  color: white;
  font-size: 5px; 
}
.video img
{
  height: 30px;
}

.video a
{
  
  padding: 0.3rem;
  white-space: nowrap;
  font-family: 'Roboto';
  position: absolute;
  font-size: 12px;
  color:#ffbb00;
  text-align: center;
  
}
.video a:hover
{
text-decoration: none;
cursor: pointer;
color:#ffbb00;
border-bottom: 2px solid #ffbb00;



}
.ec-1
{
  display: none;
  
}
.ec-2 
{
  display: none;
 
}
.ec-utbildning 
{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-bottom: 40px;
  margin-top: 10px;
}
.ec-utbildning img
{
  height:15px;
}
.section-1 > .animation
{
  
  position:relative;
}
.circles 
{
  position: relative; 
left: 50%;
transform: translateX(-50%);
  
  height: 250px;
  
  
}
.iphone 
{
 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 250px;
  
}
.flex-column
{
  margin-top: 2rem;
}
.flex-column button
{
  background: rgba(255, 187, 0, 0.15);
  color:rgba(255, 187, 0, 1);
  border:none;
  border-radius: 5px;
  outline: none;
}
.flex-column h1
{
  text-align: center  ;
}
.flex-column p
{
  text-align: center  ;
}
.flex-column br
{
  text-align: center;
  display: none;
}
.download-buttons
{
  display: flex;
  justify-content: space-around; 
 
}
.google-play, .app-store 
{
  display: flex;
  border-radius: 5px;        
  align-items: center;
  font-family: 'Roboto';
  font-size: 10px;
  color:#6B6B6B;
  border:none;
  font-weight: 500;
  background-color: #F8F8F8;
  
} 
.google-play img
{
  padding-right: 10px;
  padding-left: 20px;
  
}
.app-store img
{
  padding-right: 10px;
  padding-left: 20px;
}
.download-buttons span
{
  color: #111111;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 700;
}
.download-buttons p 
{
  padding-top: 15px;
  padding-right: 10px;
}
.download-buttons a:hover
{
  cursor: pointer;
  box-shadow:3px 3px 2.5px #aaaaaa;
  text-decoration: none;
  color:#6B6B6B;
}






@media (min-width: 375px){
  .header-background >.dropdown {
   top:5px;
   left:74%;
}
.header-background
{
  height: 230px;
}
.ec-utbildning img
{
  height: 20px;
}
.img-1
{
  width: 100%;
  height: auto;
   object-position: -27px -130px;
}
.img-2
{
  width: 100%;
  height: auto;
   object-position: -27px -130px;
}
.img-screen-1{
  height: 120px;
  margin-right: 7rem;
  margin-top: 4rem;

}
.img-screen-2{
  height: 120px;
    margin-right: 9rem;
    margin-top: 5rem;
}
.header-background h1
{
  font-size: 0.7  rem;
}
.header-background p
{
  display: none;
}
.navigation
{
  
  display:none;
}
}

@media (min-width: 425px){
  .header-background
{
  height: 250px;
}

.header-background >.dropdown{
  right:10%;
}
.img-screen-1{
  height: 140px;
  margin-right: 7rem;
  margin-top: 4rem;

}
.img-screen-2{
  height: 140px;
    margin-right: 9rem;
    margin-top: 5rem;
}
.img-1
{
  width: 100%;
  height: auto;
   object-position: -40px -150px;
}
.img-2
{
  width: 100%;
  height: auto;
   object-position: -40px -150px;

}
.header-background h1
{
  
  font-size: 0.8rem;
}
.header-background p 
{
  display: none;
}
.navigation
{
  
  display:none;
}
}
@media (min-width:475px)
{

  .header-background
  {
    height: 270px;
  }
  
  .header-background >.dropdown{
    right:10%;
  }
  .img-screen-1{
    height: 150px;
    margin-right: 7rem;
    margin-top: 4rem;
  
  }
  .img-screen-2{
    height: 150px;
      margin-right: 9rem;
      margin-top: 5rem;
  }
  .img-1
  {
    width: 100%;
    height: auto;
     object-position: -50px -180px;
  }
  .img-2
  {
    width: 100%;
    height: auto;
     object-position: -50px -180px;
  
  }
  .header-background h1
  {
    
    font-size: 0.8rem;
  }
  .header-background p 
  {
    display: none;
  }
  .navigation
  {
    
    display:none;
  }
}



@media (min-width:575px){
  .header-background
  {
    height:300px;   
  }
  .header-background >.dropdown{
    right:10%;
  }
  .img-screen-1{
    height: 140px;
    margin-right: 7rem;
    margin-top: 4rem;
  
  }
  .img-screen-2{
    height: 140px;
      margin-right: 9rem;
      margin-top: 5rem;
  }
  .img-1
  {
    width: 100%;
    height: auto;
     object-position: -60px -210px;
  }
  .img-2
  {
    width: 100%;
    height: auto;
     object-position: -60px -210px;
  
  }
  .header-background h1
  {
    
    font-size: 0.8rem;
  }
  .header-background p 
  {
    display: none;
  }
  .navigation
  {
    
    display:none;
  }

}

@media (min-width: 768px){
  .header-background >.dropdown{
    display:none;
  }
  
  .img-screen-1{
    height: 250px;
    margin-right: 7rem;
    margin-top: 5rem;
  
  }
  .img-screen-2{
    height: 250px;
      margin-right: 12rem;
      margin-top: 7rem;
  }
  .img-1
  {
    width: 100%;
  height: auto;
     object-position: -80px -250px  ;
     
  }
  .img-2
  {
    width: 100%;
  height: auto;
     object-position: -80px -250px ;
    
     
  
  }
  .header-background h1
  {
    top:100px;
    font-size: 2rem;
    opacity: 100%;
  }
  .header-background p 
  {
    display: block;
  position: absolute;
    left: 12%;
    top: 800%;
    font-family: 'Poppins';
    font-size: 10px;
    line-height: 17px;
    color: white;
    font-weight: 100;
  }
  .navigation 
  {
    position: absolute;
    display:block;
  }
  .navigation a
  {
    
    color:white;
    padding:0.5rem;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: small;
    text-decoration:none;
    
    
  }
  .navigation a:hover
  {
    
    cursor: pointer;
    color:#ffbb00;
    border-bottom: 1px solid #ffbb00 ;
  }
  .navigation button
  {
    padding: 0.3rem 0.9rem;
    border:none;
    border-radius: 5px;
    font-family: 'Roboto';
    color: white;
    background-color:  #ffbb00;
    font-size: 10px;
    margin-left:1rem;
  
  }
  .header-background .button-1 button
  {
    position: absolute;
    display: block;
    left:90px; top:250px;
    font-size: 10px;
    padding: 0.3rem 1rem;
  }
  .logo
  {
    position: absolute;
    height: 3rem;
    margin: 0.7rem;
     
  }
}

@media (min-width: 992px){
  .header-background >.dropdown{
    display: none;

  }
  
  .img-screen-1{
    height: 300px;
    margin-right: 8rem;
    margin-top: 9rem;
  
  }
  .img-screen-2{
    height: 300px;
      margin-right: 14rem;
      margin-top: 11rem;
  }
  .img-1
  {
    width: 100%;
  height: auto;
     object-position: -90px -390px  ;
  }
  .img-2
  {
    width: 100%;
  height: auto;
     object-position: -90px -390px ;
     
  
  }
  .header-background h1
  {
    top:170px;
    font-size: 2rem;
  }
  .navigation 
  {
    position: absolute;
    display:block;
    right: 10%;
    
  }
  .navigation a
  {
    color:white;
    padding:0.5rem;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: small;
    text-decoration:none;
    
  }
  .navigation a:hover
  {
    
    cursor: pointer;
    color:#ffbb00;
    border-bottom: 1px solid #ffbb00 ;
  }
  .navigation button
  {
    padding: 0.3rem 0.9rem;
    border:none;
    border-radius: 5px;
    font-family: 'Roboto';
    color: white;
    background-color:  #ffbb00;
    font-size: 10px;
    margin-left:1rem;
  
  }
  .header-background .button-1 button
  {
    position: absolute;
    display: block;
    left:140px; top:390px;
    font-size: 20px;
    padding: 0.5rem 1.8rem;
  }
  .logo
  {
    position: absolute;
    height: 3rem;
    margin: 0.7rem;
  }


}


@media (min-width: 1200px){
  .header-background >.dropdown {
    display:none;
  }
  
  .img-screen-1{
    height: 450px;
    margin-right: 14rem;
    margin-top: 7rem;
  
  }
  .img-screen-2{
    height: 450px;
      margin-right: 22rem;
      margin-top: 11rem;
  }
  .img-1
  {
    width: 100%;
  height: auto;
     object-position: -110px -600px  ;
  }
  .img-2
  {
    width: 100%;
  height: auto;
     object-position: -110px -600px ;
     
  
  }
  .header-background h1
  {
    top:170px;
    font-size: 3.5rem;
  }
  .navigation 
  {
    position: absolute;
    display:block;
    right: 15%;
    
  }
  .navigation a
  {
    color:white;
    margin:1rem;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: small;
    text-decoration:none;
    
  }
  .navigation a:hover
  {
    
    cursor: pointer;
    color:#ffbb00;
    border-bottom: 1px solid #ffbb00 ;
  }
  .navigation button
  {
    padding: 0.5rem 1.1rem;
    border:none;
    border-radius: 5px;
    font-family: 'Roboto';
    color: white;
    background-color:  #ffbb00;
    font-size: 15px;
    margin-left:1rem;
  
  }
  .header-background .button-1 button
  {
    position: absolute;
    display: block;
    left:140px; top:390px;
    font-size: 15px;
    padding: 0.5rem 1.8rem;
  }
  .logo
  {
    position: absolute;
    left: 12%;
    height: 3rem;
    margin: 0.7rem;
     
  }

}