
/* MOBILE FIRST */
.header-background
{
  background-size:contain; 
  width: 100%;
  background-image: url(../images/blue_background_crop.png) ;
  background-repeat: no-repeat;
  object-fit: cover; 
  height: 250px;
  }
  .header-background h1
  {
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    opacity: 50%;
  }
  .header-background p
  {
    display: none;
  }
.logo
{
  height:80%;
}
.dropdown i
{
  color: #ffbb00;
  font-size: 2rem;
}
.header-background .button-1 button
{
  
  border: 2px solid white;
  background-color: transparent;
  font-size: 1rem;
  text-align: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-family: 'Roboto', sans-serif;
  color:white;
  border-radius: 5px;
  outline: none;
}
.header-background .button-1 button:hover
{
  background-color: #ffbb00;
}
.navigation button:hover
{
  background-color: #FFD45E;
}
.navigation button
  {
    padding: 0.3rem 0.9rem;
    border:none;
    border-radius: 5px;
    font-family: 'Roboto';
    color: white;
    background-color:  #ffbb00;
    font-size: 10px;
    margin-left:1rem;
    outline: none; 
  }

.video  
{
  position: absolute;
}
.video  i
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border:7px solid #ffbb00;
  background-color: #ffbb00;
  border-radius: 50%;
  color: white;
  font-size: 0.5rem; 
}
.video img
{
  height: 2rem;
}
.video a
{
  padding: 0.3rem;
  white-space: nowrap;
  font-family: 'Roboto';
  position: absolute;
  font-size: 12px;
  color:#ffbb00;
  text-align: center;
}
.video a:hover
{
text-decoration: none;
cursor: pointer;
color:#ffbb00;
}
.button-1, .video
{
  display:none;
}
.ec-1
{
  display: none;
}
.ec-2 
{
  display: none;
}
.ec-utbildning 
{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-bottom: 40px;
  margin-top: 10px;
}
.ec-utbildning img
{
  height:1rem;
}
.section-1 > .animation
{
  position:relative;
}
.circles 
{
  position: relative; 
left: 50%;
transform: translateX(-50%);
height: 250px;
}
.iphone 
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 250px;
}
.flex-column
{
  margin-top: 2rem;
}
.flex-column button
{
  cursor: default;
  background: rgba(255, 187, 0, 0.15);
  color:rgba(255, 187, 0, 1);
  border:none;
  border-radius: 5px;
  outline: none;
  margin-left: 1.9rem;
}
.flex-column h1
{
  text-align: center  ;
  font-family:'Roboto' ;
}
.flex-column p
{
  text-align: center  ;
  font-family: 'Roboto';
  color:#8A8A8A;
}
.flex-column br
{
  text-align: center;
  display: none;
}
.download-buttons
{
  display: flex;
  justify-content: space-around; 
}
.google-play, .app-store 
{
  display: flex;
  border-radius: 5px;        
  align-items: center;
  font-family: 'Roboto';
  font-size: 0.6rem;
  color:#6B6B6B;
  border:none;
  font-weight: 500;
  background-color: #F8F8F8;
} 
.google-play img
{
  padding-right: 1rem;
  padding-left: 1rem;
  height: 1.5rem;
}
.app-store img
{
  padding-right:1rem;
  padding-left: 1rem;
  height: 1.5rem;
}
.download-buttons span
{
  color: #111111;
  font-family: 'Roboto';
  font-size: 0.9rem;
  font-weight: 700;
}
.download-buttons p 
{
    padding-top: 6px;
    padding-right: 10px;
  color:#6B6B6B !important;
}
.download-buttons a:hover
{
  cursor: pointer;
  box-shadow:3px 3px 2.5px #aaaaaa;
  text-decoration: none;
  color:#6B6B6B;
}

.remove-br br
{
  display: none;
}
.text-column p
{
  color: #8A8A8A;
}
.text-column button
{
cursor: default;
  background: rgba(255, 187, 0, 0.15);
  color:rgba(255, 187, 0, 1);
  border:none;
  border-radius: 5px;
  outline: none;
  margin-left: 1rem;
}
.text-column h1
{
  font-family:'Roboto' ;
  font-size: 1.8rem;
  font-weight:bold ;
}
.img-sök img, .img-hus img, .img-megafon img, .img-headset img
{
  background: rgba(255, 187, 0, 0.15);
  color:rgba(255, 187, 0, 1);
  border:none;
  border-radius: 5px;
  height:35px;
  padding: 0.5rem;
  margin-top: 0.3rem;
  margin-right: 1rem;
}
.img-sök p, .img-hus p, .img-megafon p, .img-headset p
{
  font-family: 'Roboto';
  font-weight: bold;
  color: #333333 !important;
  line-height: 1;

  
}
.img-sök span, .img-hus span, .img-megafon span, .img-headset span
{
  font-family: 'Roboto';
  font-weight: lighter;
  font-size:10px;
  color: #8A8A8A;
}

.text-column p
{
  font-family: 'Roboto';
  color:#8A8A8A;
  font-size: 0.8rem;
}
.screen 
{
  height:auto;
  width: 10%;
}
#middle-screen
{
  height:auto;
  width: 15%;
}
.screen-text h1 p
{
font-family: 'Roboto';
}
.screen-text p
{
  color:#8A8A8A;
}
.screen-text-map
{
  background-image: url("../images/karta.svg");
  background-repeat: no-repeat;
  height: 370px;
  background-position: center;
}
.screen-text-map p
{
color: #8A8A8A;
}
.numbers h1
{
color: #3096FE;
font-size: large;
font-weight: bolder;
}
.numbers span
{
font-size: small;
font-family: 'Roboto';
color:#333333;
font-weight: bold;
}
.double-screen img
{
    height:200px;
}
.blue-section
{
  background-image: url("../images/fff.svg");
  background-color: #1487FD;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 100%;
}
.overlap-screens img
{
  height:250px;
}
.overlap-screens-front img
{
  height:270px;
}
.blue-section-2 img
{
  transform: translateY(15%);
}
.overlap-screens-front, .overlap-screens
{
  overflow-y: hidden;
}
.blue-section-1 h1
{
  font-family: 'Roboto';
  font-size: xx-large;
  font-weight: 700;
  color:white;
}
.blue-section-1 p
{
  font-family: 'Roboto';
  font-size:x-small;
  color:white;
}
#exampleFormControlTextarea1
{
  resize: none;
}
.text-form-section h1
{
  font-family: 'Roboto';
  font-size: xx-large;
  font-weight: 1000;
  color:#333333;
}
.text-form-section p
{
  font-family: 'Roboto';
  font-size:x-small;
  color: #8A8A8A;
}
::placeholder {
  color: #CCCCCC !important;
  font-weight: 400;
  font-family: 'Roboto';
  font-size: x-small;
}
.send-button button
{
  background-color:#3096FE;
  font-size:x-small;
  font-weight: 700;
  border-radius: 8px;
}
.footer-section
{
  background-image: url("../images/Group\ 4634.svg");
  background-color: #3096FE;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 100%;
}
.links-footer a
{
  color:white;
}
.icons-footer i 
{
   background: rgba(255, 255, 255, 0.15);
   font-size: 1rem;
   border-radius: 8px;
   color: rgba(255, 255, 255, 1);
}
.screen-component img
{
  height:auto;
  width: 15%;
}
.iphone-bakom
{
  position: absolute;
  top:20%;
  right:10%;
}
.iphone-framför
{
  position: absolute;
  top:30%;
  right:22%;
}



@media (min-width: 375px)   /* media queries 375 */
{
.header-background
{
  height: 280px;
}
}
@media (min-width: 425px) /* media queries 425*/
{
  .header-background
{
  height: 350px;
}
.header-background h1
{
  font-size: 1rem;
}
.header-background p 
{
  display: none;
}
}
@media (min-width:475px) /* media queries 475*/
{
  .header-background
  {
    height: 400px;
  }
  .header-background h1
  {
    font-size: 1.1rem;
  }
  .header-background p 
  {
    display: none;
  }
}
@media (min-width:500px) /* media queries 500*/
{
  .header-background h1
  {
    font-size: 1.2rem;
  }
}
@media (min-width:575px) /* media queries 575*/
{
  .header-background
  {
    height:500px;   
  }
  .button-1, .video
  {
    display:block;
  }
}
@media (min-width: 768px) /* media queries Laptop 768*/
{
  .header-background
  {
    height:600px;
  }
.ec-1, .ec-2
{
display: block;
}
  .header-background h1
  {
    font-size: 2rem;
    opacity: 100%;
  }
  .header-background p 
  {
    display: block;
    font-family: 'Poppins';
    font-size: 10px;
    line-height: 1rem;
    color: #FFFFFF;
    font-weight: lighter;
  }
  .navigation a
  {
    color:white;
    padding:0.5rem;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: small;
    text-decoration:none;
  }
  .navigation a:hover
  {
    cursor: pointer;
    color:#ffbb00;
    border-bottom: 1px solid #ffbb00 ;
  }
  .header-background .button-1 button
  {
    display: block;
    font-size: 10px;
    padding: 0.3rem 1rem;
  }
  .video a
  {
    color: white;
    font-weight:600;
  }
  .section-1
  {
    display: flex;
  }
  .section-1 > .om-oss > .flex-column p 
  {
    text-align: left;
  }
  .section-1 > .om-oss > .flex-column h1
  {
    text-align: left;
  }
  .download-buttons
  {
    display: flex;
    justify-content: initial;
  }
  .flex-column button
  {
    margin-left:0;
  }
  .app-store
  {
    margin-left:1rem;
  }
  .section-1 > .animation
{
  margin: 2rem;
}
.circles
{
  height: 260px;
}
.iphone 
{
  transform: translate(-50%, -57%);
  height: 280px;
}
.om-oss > .flex-column h1 
{
  font-size: 1.4rem;
  font-weight: 700;
  padding-top: 0.5rem;
}
.om-oss > .flex-column p 
{
  font-size: 0.8rem;
  color:#8A8A8A;
}
.flex-column
{
  margin-top: 0;
}
.om-oss{
  margin-right: 3rem;
}
.flex-column > h1 >br
{
  display: block;
}
.remove-br br
{
  display: block;
}
.text-column button
{
  margin-left:0;
}
.paragraph-grid br 
{
  display: none;
}
.double-screen img
{
  height:250px;
}
.header-text
{
  top:10%;
  left:13%;
}
}
@media (min-width: 992px) /* media queries 992*/
{
 .header-background
  {
    height: 600px;
  }
  .header-background h1
  {
    font-size: 2.4rem;
  }
  .header-background p 
  {
    font-size: 0.8rem;
  }
  .navigation a
  {
    color:white;
    padding:0.5rem;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: small;
    text-decoration:none;  
  }
  .navigation a:hover
  {
    cursor: pointer;
    color:#ffbb00;
    border-bottom: 1px solid #ffbb00 ;
  }
  .navigation button
  {
    padding: 0.3rem 0.9rem;
    border:none;
    border-radius: 5px;
    font-family: 'Roboto';
    color: white;
    background-color:  #ffbb00;
    font-size: 10px;
    margin-left:1rem;
  }
.flex-column br 
{
  display: block;
}
.circles
{
  height: 370px;
}
.iphone 
{
  height: 410px;
}
.om-oss
{
  margin:2rem;
}
.paragraph-grid br 
{
  display: block;
}
.double-screen img
{
    height:280px;
}
}
@media (min-width: 1200px)/* media queries desktop 1200*/
{
    .header-background
  {
    height: 850px;
  }
  .header-background h1
  {
    font-size: 3.4rem;
  }
  .header-background p 
  { 
    font-size: 1rem;
  }
  .navigation a
  {
    color:white;
    margin:1rem;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: small;
    text-decoration:none;
  }
  .navigation a:hover
  {
    cursor: pointer;
    color:#ffbb00;
    border-bottom: 1px solid #ffbb00 ;
  }
  .navigation button
  {
    padding: 0.5rem 1.1rem;
    border:none;
    border-radius: 5px;
    font-family: 'Roboto';
    color: white;
    background-color:  #ffbb00;
    font-size: 15px;
    margin-left:1rem;
  }
  .header-background .button-1 button
  {
    display: block;
    font-size: 15px;
    padding: 0.5rem 1.8rem;
  }
.video  i
{
  border:10px solid #ffbb00;
  background-color: #ffbb00;
  border-radius: 50%;
  color: white;
  font-size: 10px; 
}
.video img
{
  height: 46px;
}
.video a
{
  padding:10px;
  white-space: nowrap;
  font-family: 'Roboto';
  position: absolute;
  font-size: 16px;
  color:white;
  text-align: center;
}
.om-oss button
{
 height: 2rem;
}
.circles 
{
left: 60%;
transform: translateX(-50%);
height: 450px;
}
.iphone 
{
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  height: 480px;
}
.google-play img 
{
  height:30px;
}
.app-store img 
{
  height: 30px;
}
.flex-column button
{
  margin-left:0;
}
.om-oss
{
 margin: auto;
}
.double-screen img
{
    height:350px;
}
.header-text
{
  top:17%;
}

}